@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Nanum+Pen+Script&family=Open+Sans:wght@400;600&display=swap');

div {
  display: inline-block;
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.grad {
  background: linear-gradient(to right bottom, blue, white);
}

.grad1 {
  background: linear-gradient(45deg, #f00, #fff);
}

.grad2 {
  background: linear-gradient(to bottom, rgb(255, 255, 0), rgb(146, 249, 141) 50%, rgb(255, 255, 0));
}

.grad3 {
  background: radial-gradient(rgb(251, 2, 255), rgb(255, 255, 255) 50%, rgb(255, 0, 225));
}

.grad4 {
  background: radial-gradient(circle, rgb(255, 255, 255), rgb(16, 164, 244) 10%, rgb(0, 255, 187)) 60%;
}

.grad5 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle at 20% 20%, rgb(255, 255, 255), rgb(16, 164, 244) 50%, rgb(8, 134, 245));
}

.grad6 {
  background: repeating-linear-gradient(yellow, yellow 20px, red 20px, red 40px);
}

.grad7 {
  background: repeating-radial-gradient(green, green 20px, skyblue 20px, skyblue 40px);
}