@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Nanum+Pen+Script&family=Open+Sans:wght@400;600&display=swap');

body {
  font-size: 20px;
}

#container {
  border: 1px solid rgb(0, 0, 0);
  width: 600px;
  padding: 20px;
  margin: 20px auto;
}



h1 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 3em;
}

.accent {
  font-size: 150%;
  font-weight: 800;
}

.italic {
  font-style: italic;
}

nav {
  width: 400px;
  margin: 50px 30px;
}
ul {
  list-style: none;
}

li {
  border: 1px solid #222;
  padding: 20px 40px;
  margin: 10px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 400px;
  caption-side: bottom;
  border: 1px solid black; 

}

th, td {
  text-align: center;
  padding: 10px;
  border: 1px solid black;

}

th {
  background-color: #eee;
}

.use {
  background-color: #eee;
}