@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Nanum+Pen+Script&family=Open+Sans:wght@400;600&display=swap');


body {
  background: url("../img/ice.jpg") left top no-repeat fixed; 
  background-size: cover;
}



#clip-border {
  width: 450px;
  border: 10px dotted rgb(0, 0, 0);
  padding: 20px;
  background-clip: border-box;
  background-color: rgb(251, 196, 114);
  float: left;
}

#clip-padding {
  width: 450px;
  border: 10px dotted rgb(0, 0, 0);
  padding: 20px;
  background-clip: padding-box;
  background-color: rgb(254, 166, 33);
  float: left;
}
#clip-content {
  width: 450px;
  border: 10px dotted rgb(0, 0, 0);
  padding: 20px;
  background-clip: content-box;
  background-color: rgb(242, 111, 18);
  float: left;
}

#italic {
  font-style: italic;
}